comprobantes/
__pycache__/
# *.db
*.json
explicaciones_farmacia.txt
pendientes_farmacia.txt
codigo_de_texteo_*
texteo_*.txt
prueba_json.py
ordenar_lista.py
test_*.py
comprobante_*.txt
medicamentos_inventario.csv
agregar_*.py
agregar_*.sql
query_db.py
# sunat_service.py